#section1 {
  height: 240px;
  background-color: #f2f2f2;
  background-image: url(https://t3.ftcdn.net/jpg/02/14/26/32/360_F_214263275_yFsy0Uk8QXxqp1vf31hHiJ0zKJwKdcoS.jpg);
  background-size: cover;
  background-position: center center;
}

#section2 {
  height: 50vh;
  background-color: #ddd;
}

.avatar-container {
  position: relative;
  top: -60px;
  display: inline-block;
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 20px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url("https://i.imgur.com/4CTKZKY.jpg");
  background-size: cover;
  margin-left: 20px;
}
