.headline-900{
    /* Headline/900 */
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #1D3066;
}


.headline-800{
    /* Headline/900 */
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #1D3066;
}





.id {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    text-align: justify;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #A9B4CD;
}