.headline-900{
    /* Headline/900 */
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #1D3066;
}


.headline-800{
    /* Headline/900 */
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #1D3066;
}